# Programming Assignment_11

### Q1. Create a function that takes a list and returns a new list containing only prime numbers.

Examples

filter_primes([7, 9, 3, 9, 10, 11, 27]) ➞ [7, 3, 11]

filter_primes([10007, 1009, 1007, 27, 147, 77, 1001, 70]) ➞ [10007, 1009]

filter_primes([1009, 10, 10, 10, 3, 33, 9, 4, 1, 61, 63, 69, 1087, 1091, 1093, 1097]) ➞ [1009, 3, 61, 1087, 1091, 1093, 1097]

In [6]:
def isPrime(num1): 
    if num1 > 1:
        for i in range(2,num1):
            if (num1%i) == 0:
                #print(num1,'is not a prime')                
                break
        else:
            return True
    else:
        return False
    
def filter_primes(lst):
    new_lst = [i for i in lst if isPrime(i)]
    return new_lst

In [7]:
filter_primes([7, 9, 3, 9, 10, 11, 27])

[7, 3, 11]

In [8]:
filter_primes([10007, 1009, 1007, 27, 147, 77, 1001, 70])

[10007, 1009]

In [9]:
filter_primes([1009, 10, 10, 10, 3, 33, 9, 4, 1, 61, 63, 69, 1087, 1091, 1093, 1097])

[1009, 3, 61, 1087, 1091, 1093, 1097]

### Q2. Once a water balloon pops, is soaks the area around it. The ground gets drier the further away you travel from the balloon.

The effect of a water balloon popping can be modeled using a list. Create a function that takes a list which takes the pre-pop state and returns the state after the balloon is popped. The pre-pop state will contain at most a single balloon, whose size is represented by the only non-zero element.

Examples

pop([0, 0, 0, 0, 4, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4, 3, 2, 1, 0]

pop([0, 0, 0, 3, 0, 0, 0]) ➞ [0, 1, 2, 3, 2, 1, 0]

pop([0, 0, 2, 0, 0]) ➞ [0, 1, 2, 1, 0]

pop([0]) ➞ [0]

In [19]:
def pop(lst):
    length = len(lst)//2
    fw = bw = length
    while(bw > 0):
        lst[bw] = length 
        lst[fw] = length
        bw -= 1
        fw += 1
        length -= 1
    return lst

In [20]:
pop([0, 0, 0, 0, 4, 0, 0, 0, 0])

[0, 1, 2, 3, 4, 3, 2, 1, 0]

In [21]:
pop([0, 0, 0, 3, 0, 0, 0])

[0, 1, 2, 3, 2, 1, 0]

In [22]:
pop([0, 0, 2, 0, 0])

[0, 1, 2, 1, 0]

In [23]:
pop([0])

[0]

### Q3. "Loves me, loves me not" is a traditional game in which a person plucks off all the petals of a flower one by one, saying the phrase "Loves me" and "Loves me not" when determining whether the one that they love, loves them back.

Given a number of petals, return a string which repeats the phrases "Loves me" and "Loves me not" for every alternating petal, and return the last phrase in all caps. Remember to put a comma and space between phrases.

Examples

loves_me(3) ➞ "Loves me, Loves me not, LOVES ME"

loves_me(6) ➞ "Loves me, Loves me not, Loves me, Loves me not, Loves me, LOVES ME NOT"

loves_me(1) ➞ "LOVES ME"

In [30]:
def loves_me(n):
    lst =[]
    for i in range(1,n+1):
        if i % 2 == 0:
            lst.append("Loves me not")
        else:
            lst.append("Loves me")

    lst[-1] = lst[-1].upper()
    return ", ".join(lst)

In [31]:
loves_me(3)

'Loves me, Loves me not, LOVES ME'

In [32]:
loves_me(6)

'Loves me, Loves me not, Loves me, Loves me not, Loves me, LOVES ME NOT'

In [33]:
loves_me(1)

'LOVES ME'

### Q4. Write a function that sorts each string in a list by the letter in alphabetic ascending order (a-z).

Examples

sort_by_letter(["932c", "832u32", "2344b"])
➞ ["2344b", "932c", "832u32"]

sort_by_letter(["99a", "78b", "c2345", "11d"])
➞ ["99a", "78b", "c2345", "11d"]

sort_by_letter(["572z", "5y5", "304q2"])
➞ ["304q2", "5y5", "572z"]

sort_by_letter([])
➞ []

In [34]:
def f_l(w):
    for j in w:
        if j.isalpha():
            x=j
            # print(x)
    return x


def sort_by_letter(l):
    if len(l)>0:
        m = l[0]
        for i in range(len(l)-1):
            for j in range(i+1,len(l)):
                if ord(f_l(l[i])) > ord(f_l(l[j])):
                    temp = l[i]
                    l[i]=l[j]
                    l[j]=temp
    return l

In [35]:
sort_by_letter(["932c", "832u32", "2344b"])

['2344b', '932c', '832u32']

In [36]:
sort_by_letter(["99a", "78b", "c2345", "11d"])

['99a', '78b', 'c2345', '11d']

In [37]:
sort_by_letter(["572z", "5y5", "304q2"])

['304q2', '5y5', '572z']

### Q5. There are three cups on a table, at positions A, B, and C. At the start, there is a ball hidden under the cup at position B.

However, I perform several swaps on the cups, which is notated as two letters. For example, if I swap the cups at positions A and B, I could notate this as AB or BA.

Create a function that returns the letter position that the ball is at, once I finish swapping the cups. The swaps will be given to you as a list.

Example

cup_swapping(["AB", "CA", "AB"]) ➞ "C"

    # Ball begins at position B.
    # Cups A and B swap, so the ball is at position A.
    # Cups C and A swap, so the ball is at position C.
    # Cups A and B swap, but the ball is at position C, so it doesn't move.